*.log
.DS_Store
dist/
dist-electron/
.next/
.turbo/
.vercel/
.vinxi/
.output/
.eslintcache
*.tsbuildinfo
app.config.timestamp_*

db.sqlite

node_modules/
package-lock.json
yarn.lock
.yalc
yalc.lock

coverage/
__generated__/
